body {
  margin: 0px 0px;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

#MissionTea, #Featured {
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: auto;
}

#MissionTea {
  background-image: url("../images/img-mission-background.jpg");
}

#Locations {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  flex-flow: column;
  height: 500px;
  width: 1200px;
  background-image: url("../images/img-locations-background.jpg");
}

#Featured {
  padding-top: 15px;
}

h2, h4 {
  margin: auto 5px;
}

.logo img {
  height: 50px;
  padding-left: 10px;
  margin-top: 10px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-flow: row;
  list-style: none;
}

.navbar ul li {
  padding: 0 15px;
}

.navbar ul li a {
  color: white;
}

.footer {
  height: 300px;
  width: 100%;
}

.missionTeaContainer {
  margin: auto;
  width: 100%;
}

.Featured-title {
  width: 1000px;
  margin-left: 100px;
  margin-right: 100px;
}

.Featured-items {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  flex-wrap: nowrap;
}

.Featured-item img {
  height: 200px;
  width: 300px;
}
.Featured-item h4 {
  margin-top: 10px;
  text-align: center;
}

.missionTeaContainer, .Featured-title {
  background-color: black;
  height: 120px;
  display: flex;
  flex-wrap: nowrap;
  z-index: 1;
  flex-flow: column;
  text-align: center;
}

.page {
  padding-top: 69px;
}

.page, .footer, #Featured {
  display: flex;
  flex-flow: column;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: fixed;
  width: 100%;
  height: 69px;
  align-items: center;
  border-bottom: 1px solid seashell;
  z-index: 2;
  background-color: black;
}

.Featured-items-container, .Locations-records-container  {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
  justify-content: center;
}

.Featured-items-container {
  margin-top: 20px;
}

.Locations-records-container {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
}

.Location-record-container {
  margin: 15px 20px;
  opacity: 1;
  background-color: black;
  width: 300px;
  height: 300px;
}

.note p {
  text-align: left;
  margin-left: 10px;
}

.footer-info {
  height: 200px;
  margin-top: 10px;
  text-align: center;
}
